<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Sobrenome</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gmail</mat-label>
        <input matInput placeholder="estudante@ifgoiano.com">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Endereço</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      
    </tr></table>
  </form>
  
